{% if user == 'admin' %}
  <!--<a href='/adduser'>adduser</a>-->
  <form action='/adduser'>
     user:<input type='text' name='user'>
     pwd:<input type='text' name='pwd'>
     <input type='submit' value='adduser'>
  </form>
{% endif %}
<a href='/logout'>logout</a>
<table border='1'>
  {% for u in users %}
  <tr>
    <td>{{ u[0] }}</td>
    <td>{{ u[1] }}</td>
    {% if user == 'admin' %}
    <td>
     <a href='/deluser?user={{ u[0] }}'>delete</a>
     <a href='/update?user={{ u[0] }}'>update</a>
    </tdb>
    {% endif %}
  </tr>
  {% endfor %}   
</table>

