<form>
<select name="mem">
<option></option>
{% for m in res_list %}
<option value={{m}}>{{m}}</option>
{% endfor %}
<input type="submit" value="serach">
</select>
</form>

<form>
<select name="sort_mem">
<option>请选择</option>
<option value='zx'>顺序</option>
<option value='dx'>倒序</option>
<input type="submit" value="排序">
</select>
</form>
<button>
    <a href="/pc?memorder=up">mem_up</a>
</button>
<button>
    <a href=”/pc?memorder=down“>mem_down</a>
</button>

<table border="1">
{% for p in pc %}
<tr>
<td>{{p[0]}}</td>
<td>{{p[1]}}</td>
<td>{{p[2]}}</td>
<td>{{p[3]}}</td>
</tr>
{% endfor %}

</table>
