<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>管理页面</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>
<body>
<div class='container'>
 <div class="row">
        <div class="col-md-7 col-md-offset-2">
            {% if user %}
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            welcome {{ user }}
            {%if user == 'admin' %}
            <a href="/logout" style="float:right" class="btn">
                <span class="label label-default" data-toggle="tooltip" data-placement="right" title="logout">登出</span>
            </a>
            <button type="button" class="btn-xs  btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                添加用户
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/adduser" class="form-inline">
                                <div class="form-group">
                                    <label>用户名</label>
                                    <input type="text" class="form-control" id="input-user" name="user">
                                </div>
                                <div class="form-group">
                                    <label>密码</label>
                                    <input type="text" class="form-control" id="input-pwd" name="pwd">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" id="btn-adduser">添加用户</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <a href="/logout" style="float:right" class="btn">
                    <span class="label label-default" data-toggle="tooltip" data-placement="right"
                          title="logout">登出</span>
            </a>
            {% endif %}
            <table id="content" >
            </table>
        </div>
    </div>
</div>
{% else %}
<h1>you need login</h1>
<a href="/login">login</a>
{% endif %}

  <div class='row'>
    <div class='col-md-4 col-md-offset-4'>
      <table class='table table-bordered table-hover table-condensed'>
        {% for u in users %}
        <tr>
          <td>{{ u[0] }}</td>
          <td>{{ u[1] }}</td>
        {% if user == 'admin' %}
          <td>
            <a href='/deluser?user={{ u[0] }}'>
             <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            |
            <a href='/update?user={{ u[0] }}'>
             <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </td>
        {% endif %}
        </tr>
        {% endfor %}   
      </table>
    </div>
  </div>
</div>
<script src="static/jquery.min.js"> </script>
<script src="static/js/bootstrap.min.js" > </script>
<script>
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
<script>
    function getUser() {
        $.get('/userlist2',function (data) {
            $('#content').html(data)
        })
    }
    getUser()

    $('#btn-adduser').on('click', function () {
        console.log('xxxxxxxx')
        var user = $('#input-user').val()
        var pwd = $('#input-pwd').val()
        var url = '/adduser?user=' + user + '&pwd=' + pwd
        $.get(url, function (data) {
            if (data == 'ok') {
                $('#myModal').modal('hide')
                getUser()
            }
        })
    })
</script>
</body>
</html>
